<app-top-nav></app-top-nav>

<div class="container">
  <div class="row tagline-header-container m-0">
    <div class="col col-12 tagline-text">
      <ng-container *ngTemplateOutlet="headerText;"></ng-container>
    </div>
  </div>
</div>

<div class="wwa">
  <div class="wwa__desc wwa__boxed" style="margin-top:50px">
    <p style="text-align: center;">
      <strong>
        IMPORTANT EXCLUSIONS
      </strong>
    </p>
    <p>
      <strong>
        WE RELY ON THE USERS ACCURATE AND DETAILED DESCRIPTION OF ANY SYMPTOMS AND THE USER SHOULD NOT IN ANY CIRCUMSTANCES ACCESS THIS SERVICE IN AN EMERGENCY OR WHERE IT IS LIKELY THAT THE USER WILL NEED A PHYSICAL EXAMINATION.
      </strong>
    </p>
    <p style="text-align: center;">
      <strong>
        MEDICAL EMERGENCY SERVICES SHOULD BE ACCESSED BY DIALING 999,
      </strong>
    </p>
    <p>
      <strong>
        SOME MEDICAL CONDITIONS ARE NOT SUITABLE FOR A REMOTE CONSULATION AND THIS SITE SHOULD NOT BE USED IN THOSE CIRCUMSTANCES.
      </strong>
    </p>
    <p>
      <strong>
        THE USER MUST ENSURE APPROPRIATE ADVICE IN A TELEPHONE, FACE TO FACE, CLINIC  CONSULTATION WITH A SUITABLE MEDICAL PRACTITIONER IS TAKEN, HOWEVER, IF THE USER IS IN ANY WAY UNCLEAR ABOUT WHETHER ANY SYMPTOMS HAVE BEEN COMMUNICATED ADEQUATELY OR THE USER IS CONFUSED AS TO THE NATURE OF ANY SYMPTOMS AND HAS NOT BEEN ABLE TO EXPRESS THE DEGREE OR NATURE OF THOSE SYMPTOMS CLEARLY. THIS IS ESPECIALLY IMPORTANT WHERE FOR EXAMPLE THE USER IS CONCERNED ABOUT THE ADVICE WE HAVE GIVEN OR THERE ARE DIFFERENCES IN THE ADVICE WE HAVE GIVEN, AS OPPOSED TO ANOTHER HEALTHCARE PRACTITIONER.
      </strong>
    </p>
  </div>
  <div class="wwa__desc  wwa__boxed">
    <p>
      <strong>
        PLEASE NOTE THAT THESE TERMS AND CONDITIONS COVER ALL USE OF OUR SERVICES AS SET OUT IN OUR WEBSITE AND WE RESERVE THE RIGHT TO AMEND, MODIFY AND/OR CHANGE THE SAME FROM TIME TO TIME. FOR THE AVOIDANCE OF DOUBT, THE TERMS APPLICABLE TO THE USER SHALL (SAVE AND EXCEPT ANY CHANGES IMPOSED BY LAW) BE THOSE TERMS AS VALID AT THE TIME OF ANY RELEVANT TRANSACTION.
      </strong>
    </p>
  </div>
  <p class="wwa__desc ">
    For the purposes of these terms and conditions, <strong>“User”</strong> shall mean any person utilising this site for the purpose of accessing and/or purchasing the services, whether in whole or in part.
  </p>
          
  <h1 class="wwa__title">1. THE SERVICES</h1>
  <ol class="wwa__desc wwa__list-alpha">
  <li>
    The User is able to access our website primarily in order to obtain medical advice and information and to connect with General Medical Council (‘GMC’) registered doctors and Nursing and Midwifery Registered (NMC) registered Advanced Nurse Practitioners (ANPs) and other allied healthcare professionals. This shall include:
    <ul>
      <li>
        Healthcare assessments/consultations – these may be conducted by video or via phone and the User may ask questions and enter symptoms to allow our GMC registered doctors and NMC registered ANP’s and allied healthcare professionals to determine the best course of action suited to the Users requirements;
      </li>
      <li>
        Access to diagnostic tests and other medicines and healthcare products;
      </li>
      <li>
        A monitoring service which monitors your health;
      </li>
      <li>
        Access to the User’s health records.
      </li>
    </ul>
  </li>
  <li>
    The services are accessed remotely using our website. Please note, all services are conducted in English only, however, it may be possible to obtain translation services on request.
  </li>
  </ol>

  <h1 class="wwa__title">2. PROVISION AND REGULATION OF THE SERVICE</h1>
  <ol class="wwa__desc wwa__list-alpha">
    <li>
      The services are delivered by doctors registered with the UK General Medical Council and NMC registered ANP’s.
    </li>
    <li>
      In any event, all our professionals deliver services in accordance with clinical best practice and professional standards using all reasonable skill and care in delivery.
    </li>
    <li>
      We are regulated by the UK Care Quality Commission, which is a public body of the Department of Health established to regulate and inspect health and social care services in England.
    </li>
    <li>
      The services are provided from premises situated within Hampshire
    </li>
    <li>
      The services may be available via one of our partners, who may be the Users employer, GP or other organisation which the User has a membership with. In those circumstances the User is strongly advised to check any additional terms that may be applicable to the User by those partners as those terms may affect use of this service.
    </li>
    <li>
      Where appointments are required by the User you will receive written confirmation by email of the appointment date and time. If the User has requested an appointment but has not received an email confirmation prior to the User’s appointment the User should contact DocHQ at admin@dochq.co.uk.
    </li>
  </ol>
  <h1 class="wwa__title">3. LIMITATIONS AND IMPORTANT CONSIDERATIONS WHEN USING THE SERVICE</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      We cannot guarantee that a particular practitioner will be available, and cannot guarantee consultations within a particular time, although we will do our best to accommodate the User where possible.
    </li>
    <li>
      Consultations are limited to 20 minutes with a registered doctor.
    </li>
    <li>
      Any abuse of our practitioners will not be tolerated and in the event that we become aware of any abuse by the User against any one of our practitioners, healthcare professionals and/or partners, then use of the service by the User may be terminated with immediate effect.
    </li>
    <li>
      The services are not available outside of the UK. We provide our services in accordance with UK laws and will not be responsible for any laws outside of the UK that would affect services we offer.
    </li>
    <li>
      For the avoidance of doubt, the following medications WILL NOT be prescribed at any time:
      <ul>
        <li>
          Controlled drugs;
        </li>
        <li>
          Benzodiazepines;
        </li>
        <li>
          Sleeping tablets;
        </li>
        <li>
          Barbiturates;
        </li>
        <li>
          Strong analgesics, other than co-codamol 8/500 or co-dydramol 10/500;
        </li>
        <li>
          Unlicensed medications;
        </li>
        <li>
          Medications that are to be initiated or prescribed by specialists only.
        </li>
        <li>
          Medication that require blood test monitoring;
        </li>
      </ul>
    </li>
    <li>
      We reserve the right to monitor usage of the service and to ensure that any usage is fair and subject to any limits that we may set and/or impose in the future subject to our discretion.
    </li>
  </ol>

  <h1 class="wwa__title">4. PROVISION OF INFORMATION BY THE USER</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      In order for the User to make full use and obtain a benefit from using the services we will require that the User provides us with certain information and uses the website in accordance with these terms and any advice given.
    </li>
    <li>
      The User should therefore ensure that:
  
      <ul>
        <li>
          The User is over 18.
        </li>
        <li>
          Information the User supplies to us is supplied in relation to the User only and
          <strong>
            not
          </strong>
           any third party.
        </li>
        <li>
          Relevant information about health and symptoms relating to the condition that the User wishes to address or, any other relevant information is entered correctly, clearly and is accurate.
        </li>
        <li>
          The User should refer to the current information on the website to assess whether the services are suitable for use by the User.
        </li>
        <li>
          The User should only register for the services once. This is to ensure that we can keep accurate records of usage and deliver specific services delivered to the User. Multiple registrations, therefore, may render it difficult for us to track previous advice and the User may not benefit in full.
        </li>
      </ul>
    </li>
  </ol>

  <div class="wwa__desc  wwa__boxed">
    <p>
      <strong>
        Note: we reserve the right to suspend or terminate any account if we believe that any condition in this section has been breached or if we suspect that the service access is being used improperly, excessively or unreasonably.
      </strong>
    </p>
  </div>
  <div class="wwa__desc  wwa__boxed">
    <p>
      <strong>
        Please note that practitioners can only prescribe medications in the interests of the User and in any event may not be able to prescribe certain medications remotely.
      </strong>
    </p>
    <p>
      <strong>
        It is the Users responsibility to provide full and accurate information and to use the services and this application responsibly and accurately. We can only prescribe or provide services based entirely on the information given by the User.
      </strong>
    </p>
    <p>
      <strong>
        We shall not be responsible for any advice or medication given based on inaccurate information or deliberate or negligent misuse of this service. Nothing in this section is intended to exclude any liability which cannot be excluded by us as a matter of law.
      </strong>
    </p>
  </div>

  <h1 class="wwa__title">5. WHAT TO CONSIDER AFTER ACCESSING THE SERVICE</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      The User must:
      <ul>
        <li>
          Inform us immediately if there are any changes to the information supplied or if the information the User has supplied is inaccurate or incomplete;
        </li>
        <li>
          Follow any instructions and advice given by practitioners;
        </li>
        <li>
          Follow the instructions given in respect of recommended medications or healthcare products;
        </li>
        <li>
          Ensure that the medications or any product is not used beyond any “use-by” dates;
        </li>
        <li>
          Keep all medications securely away from children and only use them in the manner prescribed;
        </li>
        <li>
          Report any adverse effects immediately;
        </li>
        <li>
          Seek further advice from your GP or another medical professional should the User have any concerns about the products we prescribe or the advice given.
        </li>
      </ul>
    </li>
  </ol>

  <h1 class="wwa__title">6. PROVISION AND DELIVERY OF MEDICATIONS, PRODUCTS AND TESTING SERVICES</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      The Service is provided by qualified doctors registered with the General Medical Council and qualified ANP’s registered with the Nurse Midwifery Council of the United Kingdom. All doctors who provide private prescriptions are authorised to do so and comply with the General Medical Council Guidelines and the standards as enforced and required by the Care Quality Commission. Copies of the same may be found at:
      <p>
        <a href="http://www.gmc-uk.org.uk/guidance/good_medical_practice.asp">
          http://www.gmc-uk.org.uk/guidance/good_medical_practice.asp
        </a>
      </p>
      <p>
        <a href="https://www.cqc.org.uk/">
          https://www.cqc.org.uk/
        </a>
      </p>
    </li>
    <li>
      All prescriptions shall be provided on a private basis only.
    </li>
    <li>
      The User shall be expected to pay for the cost of the prescription which is set by any pharmacy independently from us. There shall be no refunds once the order has been placed.
    </li>
    <li>
      The User is under no obligation to purchase medications or other healthcare products from any specific pharmacy.
    </li>
    <li>
      Whilst the application allows the User to nominate a nearby pharmacy for us to deliver any prescription, we have no control and therefore have no responsibility for each pharmacy. We therefore cannot be responsible for any opening hours, costs or availability of medications prescribed and there is no guarantee that the pharmacy we deliver to will be the nearest to the User.
    </li>
    <li>
      We cannot be responsible for any product supplied by any of our partners or any pharmacy which is defective, late in delivery or not available.
    </li>
    <li>
      The responsibility for the supply and quality of the product lies with our third party partner. This shall include delivery of the product. The third party partner shall contact the User directly with the terms and conditions which apply to the order of that product.
    </li>
    <li>
      Medications and Healthcare products are sold by our third party partners. Payments should be made by the User directly to our third party partners under their terms and conditions.
    </li>
    <li>
      Any issues that the User may have with any product must be addressed directly with the third party supplier.
    </li>
    <li>
      For the avoidance of doubt the terms above also apply to our testing services where performed by our laboratory partners, and the User shall be expected to comply with any instructions provided by the laboratory partners in relation to any aspect of the testing service including, but not limited to admissions, booking and receipt of samples.
    </li>
    <li>
      No tests may be ordered outside of the UK.
    </li>
    <li>
      Some tests may have to be conducted by a health practitioner in which case the User may be subject to further charges.
    </li>
    <li>
      Referral letters and fit for work letters may be available. These can be arranged via the live GP consultations and any costs for these are covered within the consultation price. Please note that letters are provided at the sole discretion of the GP and in line with GMC and NMC guidelines.
    </li>
  </ol>

  <h1 class="wwa__title">7. DATA COLLECTION AND MONITORING</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      Personal data we hold on the User or any information that the User supplies to us will be collated and protected in accordance with our privacy policy and in respect of all applicable laws in the UK. We are registered with the Information Commissioners Office under registration number A129983.
    </li>
    <li>
      Data is collated by the User by adding data manually or, by any third party connected to the services where for example test results are added or, advice has been recorded by a practitioner. The User’s records may be accessed by the User under the User’s secure DocHQ profile. Data is kept in an encrypted form.
    </li>
    <li>
      It is the User’s responsibility to ensure that any data which the User inputs is relevant, accurate, and up to date.
    </li>
    <li>
      Any data stored is based on a general guide only and, is not intended to be a substitute for personal medical advice or diagnosis. We cannot accept any responsibility for any actions the User may take based on, or in connection with, any information collated in respect of any individual User.
    </li>
    <li>
      We will only communicate the User’s information to our partners and practitioners where necessary, and to such an extent so as to provide the service. We may also provide such information as is relevant to the User’s other healthcare providers but in any event in accordance with any laws as applicable in the UK from time to time.
    </li>
    <li>
      We may have to disclose the User’s information to any regulator of any of the services, including the General Medical Council or the Care Quality Commission or such other entities as required by law.
    </li>
    <li>
      We do not store the User’s credit card details and payments and refunds are conducted by a third party in accordance with that third party’s terms and conditions.
    </li>
    <li>
      We may record consultations for the purposes of providing the services to the User and may provide the User with copies on request. The User is not authorised and should not publish any recordings on social media or any other media platforms without our consent. Any breach of this term by the User may result in a suspension of any services to the User and we may take legal action against the User.
    </li>
  </ol>
  
  <h1 class="wwa__title">8. PRICE OF SERVICE</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      Prices for the services are displayed on the website. These prices may change from time to time but any changes will not affect the price of an order already placed by the User.
    </li>
    <li>
      Please note that we reserve the right to charge the User for any services that would have been payable by the User.
    </li>
    <li>
      Note we reserve the right to suspend or terminate services if any fees remain unpaid or have not been paid on time.
    </li>
  </ol>

  <h1 class="wwa__title">9. LIABILITY</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      We exclude all loss and liability as specifically set out within these terms and generally for any loss, expenses, claims, costs or damage caused howsoever arising (including loss of profit), as a result of the Users breach of any of the terms of this agreement including the User not following our instructions or advice.
    </li>
    <li>
      Nothing in these terms is intended to exclude any liability which cannot be excluded by us as a matter of law.
    </li>
  </ol>

  <h1 class="wwa__title">9. INTELLECTUAL PROPERTY</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      All copyright and other intellectual property in this website, content and services including any recordings belong to us and the User is only permitted to use such intellectual property rights for personal use only, save than communicating such content to the Users health professional as set out in these terms.
    </li>
    <li>
      The User is not authorised or permitted to copy, distribute or make use of any of the content of the intellectual property belonging to us.
    </li>
    <li>
      The logo, trademarks, and other marks as indicated within our website and application are trademarks of our company and affiliates and partners whether in the UK or abroad and the User is not entitled to use or make use of the same without our written consent or the consent of the relevant party.
    </li>
    <li>
      Our website may contain links to other websites belonging to third parties – we take no responsibility for those sites and do not endorse their content or policies. These sites are wholly independent of us and we do not exercise any control over them. Any issues in relation to those third party sites, content, material or products and/or services should be addressed directly with the relevant third party.
    </li>
    <li>
      Our website may contain links to other websites belonging to third parties – we take no responsibility for those sites and do not endorse their content or policies. These sites are wholly independent of us and we do not exercise any control over them. Any issues in relation to those third party sites, content, material or products and/or services should be addressed directly with the relevant third party.
    </li>
  </ol>

  <h1 class="wwa__title">10. TERMINATION AND CANCELLATION</h1>
  <p class="wwa__desc ">
    The User may terminate this agreement, and any subscription with us in the following circumstances: 
  </p>

  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      The User may terminate this agreement within 14 days of registering with us, without charge, however the User will be expected to pay for any services or products that have been provided to the User up to the point of cancellation,
    </li>
    <li>
      In the event the services or any part of them are not available or we have failed to fix or re-perform services, the User may cancel immediately.
    </li>
    <li>
      If the terms and conditions of service are changed and the User does not accept those changes, the User may cancel immediately and payment will terminate from the next payment date.
    </li>
    <li>
      The User should terminate or cancel the agreement by calling 03300880645 or emailing us at <a href="mailto:admin@dochq.co.uk">admin@dochq.co.uk.</a>
    </li>
    <li>
      Other than those instances specifically mentioned within these terms, we may cancel the agreement at any time with immediate effect as a result of:
  
      <ul>
        <li>
          Circumstances beyond our control;
        </li>
        <li>
          Failure by the User to pay our charges;
        </li>
        <li>
          Failure by the User to comply with any of the terms of this agreement;
        </li>
        <li>
          Excessive and indiscriminate use of the Service by the User.
        </li>
      </ul>
    </li>
  </ol>

  <h1 class="wwa__title">11. REFUNDS</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      Any refund as a result of termination or cancellation may be reduced to take into account any costs of:

      <ul>
        <li>
          Services we have already begun to perform;
        </li>
        <li>
          Any other reasonable costs associated with the cancellation.
        </li>
      </ul>
    </li>
  </ol>

  <h1 class="wwa__title">11. COMPLAINTS</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      Any complaints about the services should be addressed to: DocHQ, Wessex House, Upper Market Street, Eastleigh, Hampshire, SO50 9FD
    </li>
    <li>
      An acknowledgment of the complaint will be provided to the User within 2 days of receipt (unless a full reply can be sent within 5 working days), however we aim to acknowledge within 24 hours. A full response should normally be made back to the User within 20 working days of receipt of the complaint.  Where an investigation is still in progress, a letter explaining the reason for the delay will be sent to the User and a full response made within 5 working days of completion of the investigation.  
    </li>
    <li>
      The DocHQ complaints policy applies to complaints against all personnel (both clinical and non-clinical), including those clinicians with practising privileges, as well as to those against the organisation. In addition, the organisation has a documented practising privileges agreement with independent practitioners which stipulates that handling complaints is a condition of the granting and continuation of privileges. The Medical Advisory Committee (MAC) together with the Clinical Director regularly review clinical complaints and advise accordingly on any clinical practice issues arising.
    </li>
    <li>
      The preferred outcome is the local resolution of complaints. However, if a User remains dissatisfied after the organisation's response, the User may direct the complaint to the DocHQ Care Quality Commission (CQC) Registered Manager (RM). Users will be asked to summarise why they are dissatisfied with the organisation's response.
    </li>
    <li>
      Depending on the content of the complaint, an appropriate senior manager will review the complaint and either confirm the findings and actions taken by the CQC RM or offer to implement an alternative resolution via DocHQ’s Internal Appeal (including upholding the original complaint).
    </li>
    <li>
      In the event that the complaint is not upheld, in whole or in part, the user has the right to refer the matter to an Independent External Adjudication (IEA). The IEA process is for Users who are not satisfied with the results of the internal process and is therefore only available once the internal process is exhausted. Users will be asked to summarise why they are dissatisfied with the organisation's response.
    </li>
  </ol>

  <h1 class="wwa__title">12. APPLICABLE LAW</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      This agreement is governed by English law and shall be subject to the exclusive jurisdiction of the courts in England and Wales.
    </li>
  </ol>

  <h1 class="wwa__title">13. TRANSFER</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      We reserve the right to transfer this agreement together with all its rights and obligations to any third party.
    </li>
    <li>
      You cannot transfer your rights under this agreement to any third party without our consent.
    </li>
  </ol>

  <h1 class="wwa__title">13. NEWSLETTERS</h1>
  <ol class="wwa__desc  wwa__list-alpha">
    <li>
      By agreeing to these terms and conditions the User is agreeing to opt in to receiving any of our newsletters and/or mailings
    </li>
  </ol>
</div>

<div class="footer-container">
  <app-footer></app-footer>
</div>

<ng-template #headerText>
  <div class="tagline-img-text">
    <h1>Terms and Conditions</h1>
    <p></p>
  </div>
</ng-template>