@import '../homepage/homepage.component.scss';

.wwa {
  background-color: $bg-white;

  .wwa__desc {
    text-align: left;
    max-width: 75%;
  }

  .wwa__boxed {
    border: 1px solid #000;
    padding: 15px;
    border: 7px double;
    margin: 20px auto;
  }

  .wwa__list-alpha {
    list-style-type: lower-alpha;
  }

  .wwa__title {
    max-width: 75%;
    text-align: center;
    margin: auto;
  }
}



