<div class="container">
  <div class="row benefits-row">
    <div class="col-12">
      <h4>You have a healthier and happier workforce</h4>
      <h4>Employees take less time off work</h4>
      <h4>Employees have faster access to healthcare</h4>
      <h4>You have decreased administrative costs</h4>
      <h4>We manage sick leave & support return to work</h4>
      <h4>You have improved productivity & retention</h4>
      <h4>Employees no longer come to work whilst sick</h4>
    </div>
  </div>
</div>
