<div class="container">
  <div class="row text-center m-auto">
    <div class="col-lg-4 eb-row">
      <h1>£<span class="cbg-red">77</span> bn</h1>
      <h4>is the cost of lost productivity by British firms through sick employees in 2018</h4>
      <p>Source: <span class="font-weight-bold">Mercer</span></p>
    </div>

    <div *ngIf="myChart" class="col-lg-4 eb-row">
      <span class="fill-text">86%</span>
      <canvas #myChart height="120" width="120"></canvas>
      <h4>of employers reported in 2018 that their employees come to work when they are sick</h4>
      <p>Source: <span class="font-weight-bold">CIPD</span></p>
    </div>

    <div class="col-lg-4 eb-row">
      <h1><span class="cbg-red">2</span> weeks</h1>
      <h4>is the amount of time one in five patients waited for a GP appointment in Oct 2018</h4>
      <p>Source: <span class="font-weight-bold">BMJ</span></p>
    </div>
  </div>
</div>
