<div class="container">
  <div class="row qf-row">
    <div class="col col-md-8 col-lg-9 mr-0">
      <div><i class="fas fa-quote-left"></i></div>
      <h1>DocHQ complements my passion. Delivering first class care to patients when they need it, and making sure this fits in with their lives.</h1>
      <h5>Clare Frazer - a DocHQ nurse</h5>
    </div>
    <div class="col-3 col-md-4 col-lg-3 text-center">
      <img class="img-fluid" src="/assets/temp/images/nurse1.png" />
    </div>
  </div>
</div>
