<div class="container">
  <div class="row qf-row">
    <div class="col col-md-8 col-lg-9 mr-0">
      <div><i class="fas fa-quote-left"></i></div>
      <h1>As an experienced GP, I have seen the frustrations of patients struggling to get the help they need. Our technology has allowed us to reach out to more patients, more quickly.</h1>
      <h5>Dr Simon Chaplin-Rogers - Chief Medical Officer at DocHQ</h5>
    </div>
    <div class="col-3 col-md-4 col-lg-3 text-center">
      <img class="img-fluid" src="/assets/temp/images/simon.png" />
    </div>
  </div>
</div>
