$bg-white: #fff;
$bg-primary: #00bdaf;
$bg-lighter-gray: #efeff0;
$bg-black: #333;
$bg-light-gray: #d8d8d8;
$bg-red: #e5014d;
$bg-whitesmoke: #f1f1f1;
$bg-pink: #E5014D;
$bg-green: #00BDAF;

$color-primary:#00bdaf;
$color-white: #fff;
$color-black: #333;
$color-gray: #CCC;
$color-light-gray: #f1f1f1;
$color-red: #e5014d;
$color-lighter-green: #6BF4EA;
$color-lighter-pink: #EB2165;
$color-pink: #E5014D;

$family-font: 'Roboto', sans-serif;

$box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.2);
$border-line-color: #ddd;
$text-shadow: 0.5px 0.5px 0.5px $color-black;